<h1>Kids</h1>

<div >
    <%= label_tag :name, 'Nombre' %>
    <%= text_field(:name,"", placeholder: 'digite aqui el primer nombre') %>
</div>

<div >
    <%= label_tag :name_2, 'Segundo nombre' %>
    <%= text_field(:name_2,"", placeholder: 'digite aqui el segundo nombre') %>
</div>

<div >
    <%= label_tag :lastname, 'Apellido' %>
    <%= text_field(:lastname,"", placeholder: 'digite aqui el primer apellido') %>
</div>

<div >
    <%= label_tag :lastname_2, 'Segundo apellido' %>
    <%= text_field(:lastname_2,"", placeholder: 'digite aqui el segundo apellido') %>
</div>

<div >
    <%= label_tag :lastname_2, 'Segundo apellido' %>
    <%= text_field(:lastname_2,"", placeholder: 'digite aqui el segundo apellido') %>
</div>

<div >
    <%= label_tag :ti, 'TI o registro civil' %>
    <%= text_field(:ti,"", placeholder: 'digite aqui el registro civil o TI') %>
</div>

<div >
    <%= label_tag :age, 'TI o registro civil' %>
    <%= text_field(:age,"", placeholder: 'digite aqui el registro') %>
</div>


